a {
    text-decoration: none;
    color: white;
    margin: 8px;
}

.vector-icon {
    margin-left: 52px;
}

header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}

.nav-main {
    float: right;
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
}


h2 {
    color: white;
    font-size: 36px;
    display:inline;
}

.title-container {
    justify-content:center;
    color: white;
    
}

h1 {
    font-size: 44px;
}

.action-btn {
    background-color: #FFA62B;
    color: white;
    border:none;
    margin-right: 12px;
}

.learn-more-btn {
    background: none;
    border-color: white;
    color: white;
}

.title-container button {
    border-radius: 36px;
    height: 36px;
    padding-inline: 16px;
    width:fit-content;
}

#registration-tab {
    display: flex;
    flex-direction:column;
    float: right;
    align-items: center;
    max-width: 212px;
    max-height: 452px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    
}


  input, select {
    padding: 12px;
    margin: 12px;
    margin-left: 0px;
    align-content: center;
    border-radius: 4px;
    border-width: 1px;
 }

 .submit-appointment {
    padding: 16px;
    margin: 16px;
    background-color: #FFA62B;
    color: white;
    border: none;
    border-radius: 4px;
 }

 #home-screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 #first-section {
    background-image: url("cover.png");
    background-size: cover;
    padding-bottom: 120px;
    padding-left: 7%;
 }

 @media (max-width: 768px) {
   header {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
}

@media (max-width: 768px) {
   .nav-main {
       display: flex;
       flex-direction: column;
       align-items: center;
       font-size: 20px;
   }
}

@media (max-width: 768px) {
   .vector-icon {
       display: none;
   }
}

@media (max-width: 768px) {
   .title-container,
   #home-screen {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 50px;
   }
}

@media (max-width: 768px) {
   .learn-more-btn,
   .acrion-btn {
       margin-top: 20px;
   }
}

 h4 {
    font-weight: normal;
    font-size: 20px;
 }

 #second-section {
    background-color:#252B42;
    background-size: cover;
    padding-top: 76px;
 }

 .second-introduction {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
 }

#web-development, #national-top, #digital-marketing {
    background-color: #D9EDFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;
    justify-content: center;
    border-radius: 8px;
    color: #252B42;
    font-size: 20px;
    width: 256px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
 }

 #grid-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding-bottom: 180px;
 }

 .content {
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 8px;
    color: #737373;
    width: inherit;
    z-index: 9;
    margin-top: 100px;
    padding-left: 0px;
 }

 .content li {
    list-style-type: none;
    margin-top: 8px;
 }

 .container-item {
    color: #00A0C1;
    padding-left: 32px;
 }

 .name-container {
    display: grid;
    width: 264px;
    height: 240px;
    position: relative;
    margin: 30px;
 }

 @media (max-width: 1000px) {
   #grid-container {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
}

@media (max-width: 1000px) {
   .name-container {
       margin-top: 100px;
   }
}

 body {
    margin: 0 auto;
 }

 #third-section {
    background: linear-gradient(
        to bottom,    
        #252B42 0%,
        #252B42 50%,
        #063d47 50%,
        #063d47 100%);
    padding: 60px;
 }

 .third-introduction {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    margin-bottom: 28px;
 }

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

 #forth-section {
    background-color: #252B42;
 }

 .forth-introduction {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
 }

 .full-review {
    background-color: white;
    width: 200px;
    height: 100%;
    padding: 32px;
    border-radius: 6px;
 }

 .reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5%;
    padding: 60px;
 }

 .first-card p {
    color: #737373;
 }

 .second-card {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
 }

 .second-card-text {
    display: flex;
    flex-direction: column;
    
 }

 .par1 {
    color: #FFA62B;
 }

 .second-card-text p {
    margin: 1px;
 }

 @media (max-width: 1000px) {
   .reviews-container {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
}

@media (max-width: 1000px) {
   .full-review {
       margin-top: 100px;
   }
}

 #fifth-section {
    background-color: #252B42;
 }

 .fifth-introduction {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
 }

 .team-member-container {
    background-color: white;
    padding-bottom: 20px;
    width: 250px;
 }

 .team-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.7%;
    padding: 60px;
 }

 .member-description p {
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 .socials-icon {
    display: flex;
    justify-content: center;
    gap: 12px;
 }

 @media (max-width: 1000px) {
   .team-container {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
}

@media (max-width: 1000px) {
   .team-member-container {
       margin-top: 100px;
   }
}

 
 section#contact-us {
   background-image: url(contact-background.png);
   background-size: cover;
   padding-top: 80px;
   padding-bottom: 80px;
   padding-inline: 1%;
   display: flex;
   flex-direction: column;
}

.form-container {
   width: 60%;
   margin: 0 auto;
   color: #ffffff;
}

.contact-form {
   display: grid;
   grid-template-columns: repeat(2, 30%);
   grid-template-rows: repeat(4, 70px);
}

.contact-form input:last-child {
   grid-area: 3/1/5/3;
} 

.form-container * {
   border-radius: 4px;
}

.submit-btn {
   margin-top: 24px;
   width: 218px;
   height: 58px;
   border-radius: 4px;
   background-color: #FFA62B;
   color: #ffffff;
   border: none;
}

@media (max-width: 1000px) {
   .contact-form {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 20px;
   }
}

@media (max-width: 1000px) {
   .contact-form select {
       width: 190px;
   }
}

.contact-section {
   padding-block: 12px;
   padding-inline: 4%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.contact-button {
   background-color: #FFA62B;
   color: #FFFFFF;
   border-radius: 4px;
   border: none;
   height: fit-content;
   width: fit-content;
   padding-block: 16px;
   padding-inline: 24px;
}

@media (max-width: 1000px) {
   .contact-section {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 20px;
   }
}

@media (max-width: 1000px) {
   .contact-button {
       width: 200px;
   }
}

footer {
   background-color: #252B42;
   padding-top: 20px;
   padding-bottom: 40px;
}

.part-one {
   color: #FFFFFF;
   font-size: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.socials-logos {
   display: flex;
   gap: 16px;
}

footer hr {
   width: 59%;
   background-color:#364067;
   height: 1px;
   border: none;
}

.info-container {
   display: flex;
   flex-direction: column;
}

.part-two {
   display: flex;
   flex-direction: row;
   gap: 3%;
   justify-content: space-around;
   padding-inline: 20%;
}

.info-container h5 {
   font-size: 16px;
   color: #FFFFFF;
   margin-bottom: 8px;
}

.info-container a {
   font-size: 14px;
   color: #BDBDBD;
   margin-inline-start: 0px;
}


.subscribe-btn {
   background-color: #FFA62B;
   color: #FFFFFF;
   border-radius: 4px;
   border-color: #FFA62B;
   border-left: none;
}

.subscribe-form input {  
   margin: 0px;
   border-right: none;
}

.subscribe-form {
   display: flex;
}

@media (max-width: 1000px) {
   .part-one {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 20px;
   }
}

@media (max-width: 1000px) {
   .part-two {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       margin-top: 20px;
   }
}

@media (max-width: 1000px) {
   .second-introduction,
   .forth-introduction,
   .fifth-introduction {
       padding-inline: 30px;
   }
}
